<div class="infobox">
  <a [routerLink]="['/admin']">admin</a>
</div>

<div class="camerabox">
  <video class="received_video" #received_video autoplay></video>
  <video class="local_video" #local_video autoplay [muted]="true"></video>
  <div style="display: inline-block; width: 200px; position: absolute; top: 330px; left: 25%;">
    <button id="call-button" (click)="callOperator()" [disabled]="disableCallButton" role="button" disabled>
      Call
    </button>
    <button id="hangup-button" (click)="hangUpCall()" [disabled]="disableButton" role="button" disabled>
      Hang Up
    </button>
  </div>
</div>