.userlistbox {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  padding: 1px;
  list-style: none;
  line-height: 1.1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  float: left;
  min-height: 200px;
  }
  
  .userlistbox li {
    cursor: pointer;
    padding: 1px;
  }

  .left-box {
    width: 350px;
    float: left;
  }

  .red {
    display: inline-block;
    background-color: red;
    color: white;
  }

  .green {
    display: inline-flex;
    background-color: green;
    color: white;
  }

  .header {
    display: block;
    margin-bottom: 20px;
  }

  .caller-container {
    width: 500px;
    float: left;
    margin-left: 50px;
  }