<div class="left-box">
  <span class="header">Available Operators online:</span>
  <ul class="userlistbox">
    <li *ngFor="let user of updatedList">
      <span [ngClass]="{'red': user.status === 'busy', 
                        'green': user.status === 'free'}">{{user.name}}</span>
    </li>
  </ul>

  <span class="header">Users connected</span>
  <ul class="userlistbox">
    <li *ngFor="let user of _sskUserList">
      <span [ngClass]="{'red': user.status === 'busy', 
                        'green': user.status === 'free'}">{{user.name}}</span>
    </li>
  </ul>
</div>

<div class="caller-container">
  <span class="header">Live Call log:</span>
  <ul class="list">
    <li *ngFor="let callLog of callLogs">
      <p><span >{{callLog.caller}}</span> {{callLog.type}} <span>{{callLog.callee}}</span></p>
    </li>
  </ul>
</div>