<div class="left-box">
  <span class="header">Available Users online:</span>
  <ul class="userlistbox">
    <li *ngFor="let user of updatedList">
      <span [ngClass]="{'red': user.status === 'busy', 
                        'green': user.status === 'free'}">{{user.name}}</span>
    </li>
  </ul>
</div>

<div class="caller-container">
  <span class="header">Live Call log:</span>
  <ul class="list">
    <li *ngFor="let callLog of callLogs">
      User {{callLog.caller}} is {{callLog.type}} operator {{callLog.callee}} at {{callLog.date}}
    </li>
  </ul>
</div>